#notice= notice

%h2= @book.title

%h3
  %strong Published By:
  = @book.author.name

#{BookPresenter.new(@book, self).show_haml(current_user)} | #{link_to 'All Books', books_path}

%p= MarkdownRendering.new(@book).book_as_html

